body {
    background-image: url("./image./background 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 1030px;}

.a {text-decoration: none;
    color: #FFFFFF}
.a:hover{
    color: #F26522;
}

header {
    margin-top: 46px;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1028px;
 }

.img-hover{
    display: none;
    width: 53px;
    height: 47px;
}
.link:hover .img {
    display: none;
}
.link:hover .img-hover{
  display: inline-block;
}

.link {
    text-transform: uppercase;
         }
.logo-conteiner {
    display: flex;
    float: right;
    flex-direction: column;
    margin-left: 8px;
}

.logo {
    font-size: 29px;
    line-height: 29px;
    padding-bottom: 2px;
   }

.contact-conteiner {
    display: flex;
    align-self: flex-start;
    position: relative;
}

.tel {
    position: absolute;
    top: 40px;
    right: 0px;
}


.nav {
    display: grid;
    grid-template-columns: 309px 309px 309px;
    grid-template-rows: 261px 261px;
    grid-column-gap: 54px;
    grid-row-gap: 37px;
    margin-top: 17px;
    text-align: center;
  }


.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;}



.nav-hover {
    display: none;
    width: 300px;
    height: 55px;
    background: #F26522;
    position: absolute;
    margin-top: 165px;
    margin-left: 5px;

}
.text-hover-1 {
    display: flex;
    align-self: flex-start;
    font-size: 10px;
    line-height: 10px;
    margin-top: 7px;
    margin-left: 16px;

}
.text-hover-2 {

    font-size: 20px;
    line-height: 20px;
    margin-top: 8px;
    margin-left: 16px;
    height: 14px;
    position: relative;
    float: left;
}
.text-hover-3 {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    float: right;
    margin-top: 8px;
    margin-right: 14px;
    font-style: normal;
}
.text-hover-3:after {
    content:" >";
    padding-left: 16px;
}

.nav-item:hover .item {
   color: #F26522;
}
.nav-item:hover .text-hover {
    color:white;
}
.nav-item:hover .nav-hover {
    display: inline-block;
   }

footer {
    margin-top: 48px;
    margin-bottom: 15px;
    text-align: center;
 
    font-size: 12px;
    line-height: 12px;
   }